.main-prev {
  display: grid;
  grid-template-areas:
    "head head"
    "navbar container";
  grid-template-columns: 246px 1fr;
  position: fixed;
}

.top {
  grid-area: head;
  display: grid;
  grid-template-rows: subgrid;
  grid-template-columns: subgrid;
}

.menu {
  grid-area: navbar;
  max-width: 300px;
  /* background-color: grey; */
}
.email-container {
  grid-area: container;
  min-height: 674px;
  background-color: white;
  margin: 10px 100px 30px 0px;
  /* padding: 10px; */
  border-radius: 20px;
  min-width: 1100px;
}

/* svg {
  height: 50px;
  width: 20px;
} */
