.home {
  text-align: center;
  border: 1px solid #dadce0;
  border-radius: 8px;
  margin: auto;
  min-height: 400px;
  max-width: 400px;
  margin-top: 10vh;
  padding-bottom: 20px;
}

.home h1 {
  font-size: 40px;
  margin: 10px;
}

.home img {
  width: 100px;
}
