.side-menu {
  max-width: 225px;
  max-height: 40px;
}

/* .side-menu > nav > a {
  list-style-type: none;
} */

.compose-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #c2e7ff;
  width: 142px;
  height: 56px;
  border: none;
  border-radius: 20px;
  padding: 20px;
  margin: 8px;
}

.compose-btn:hover {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
}

.side-menu > nav > a {
  display: flex;
  align-items: center;
  padding: 05px 20px 5px 26px;
  text-decoration: none;
}

.side-menu > nav > a > img {
  margin-right: 12px;
}

.side-menu > nav a:hover {
  background-color: #eaebef;
  border-radius: 0 20px 20px 0px;
}

.side-menu > nav a.active {
  background-color: #d3e3fd;
  border-radius: 0 16px 16px 0px;
}

/* nav a {
    height: 32px;
    display: flex;
    align-items: center;
    padding-left: 26px;
    margin-right: 15px;
}

nav a:hover {
    background-color: rgba(32, 33, 36, 0.059);
    border-radius: 0 16px 16px 0;
    text-decoration: none;
}



a.active {
    box-shadow: inset 0 0 0 1px #aaa;
    background-color: rgba(32, 33, 36, 0.122);
    border-radius: 0 16px 16px 0
}

nav img {
    margin-right: 18px;
}

nav button {
    border: none;
    background-color: transparent;
} */
